
<h2>Nuestros Productos</h2>
<div class="product-list">
  {{#each products}}
    <div class="card" onclick="window.location.href='/products/{{this._id}}'">
      {{#if this.thumbnails.[0]}}
        <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}"/>
      {{else}}
        <img src="https://via.placeholder.com/200" alt="{{this.title}}" />
      {{/if}}
      <div class="card-body">
        <h3>{{this.title}}</h3>
        <p>Precio: ${{this.price}}</p>
      </div>
    </div>
  {{/each}}
</div>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}
  <span>Página {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>
